.WindowBackground {
  background-color: #c1d5e0;
  background-image: url("./image/logo-vector.svg");
  background-size: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw, 1vw) * 100);
  display: flex;
  flex-direction: column;
}

